<h1 style="text-align: center;">Course</h1>

<div class="btn-group">
    <button (click)="onBtnClick('data-binding')">Section1: Data Binding</button>
    <button (click)="onBtnClick('builtin-directive')">Section2: Directives</button>
    <button (click)="onBtnClick('assignment1')">Assignment: To-Do List</button>
    <button (click)="onBtnClick('component-insight')">Section3: Component</button>
    <button (click)="onBtnClick('service-insight')">Section4: Service & Dependency Injection</button>
</div>

<div class="course-container">
    <div class="course-content">
        <router-outlet></router-outlet>
    </div>
</div>


