<h1 style="text-align: center;">Course</h1>

<div class="btn-group">
    <button (click)="onBtnClick('component-insight')">Component</button>
    <button (click)="onBtnClick('data-binding')">Data Binding</button>
    <button (click)="onBtnClick('builtin-directive')">Directives</button>
    <button (click)="onBtnClick('assignment1')">Assignment: To-Do List</button>
    <button (click)="onBtnClick('service-insight')"> Service & Dependency Injection</button>
    <button (click)="onBtnClick('http-client')">HTTP Client</button>
</div>

<div class="course-container">
    <div class="course-content">
        <router-outlet></router-outlet>
    </div>
</div>


